
<h2>トップ画面</h2>
<%= link_to("ログイン","login") %>
<%= link_to("サインイン","/users/sign_up") %>

<% @contractors.each do |con|  %>
<div class ="container">
  <div class ="row">
    <div><%=  con.name  %></div>
    <div><%=  con.description  %></div>
  </div>
</div>
<% end %>